table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 0px solid #c0bdbd;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
}

.button-delete {
    background-color: white;
    background-position: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: none;
    align-content: center;
    justify-content: center;
}

    .button-delete:hover {
        background-color: #f4f1f1;
        border-radius: 50px;
    }

.button-add-image-container {
    width: 30px;
    height: 30px;
    align-content: center;
    justify-content: center;
}

.button-add-image {
    width: 20px;
    height: 20px;
}
.th-up {
    padding: 8px;
    border-start-start-radius: 8px;
    text-align: left;
    border-bottom: none;
    background-color: #F9FAFC;
}

.th-center {
    padding: 8px;
    text-align: left;
    border-bottom: none;
    background-color: #F9FAFC;
}

.th-down {
    padding: 8px;
    border-start-end-radius: 8px;
    text-align: left;
    border-bottom: none;
    background-color: #F9FAFC;
}

.th {
    width: 100px;
    text-align: center;
}

.th-buttons {
    text-align: center;
    align-content: center;
    border: none;
    border-width: 1px;
    border-color: #f6f0f0;
}

.tr-items {
    align-content: center;
    align-items: center;
    vertical-align: middle;
    border: solid;
    border-width: 1px;
    border-color: #f6f0f0;
}
.div-up{
    background-color: white;
    margin-bottom: 10px;
    align-content: center;
    align-items: center;
    border: 0px solid #c0bdbd;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
}

.div-work {
    background-color: #DE350B;
    margin-bottom: 10px;
    align-content: left;
    align-items: left;
    border: 1px solid #f4f2f2;
    border-radius: 5px;
    color: white;
}
    .div-work:hover {
        background-color: #d02e06;
    }

.div-since {
    background-color: #FFAB00;
    margin-bottom: 10px;
    align-content: left;
    align-items: left;
    border: 1px solid #f4f2f2;
    border-radius: 5px;
    color: white;
}

    .div-since:hover {
        background-color: #f0a50b;
    }

.div-open {
    background-color: #22B14C;
    margin-bottom: 10px;
    align-content: left;
    align-items: left;
    border: 1px solid #f4f2f2;
    border-radius: 5px;
    color: white;
}

    .div-open:hover {
        background-color: #20a347;
    }

.div-total {
    background-color: #EA3680;
    margin-bottom: 10px;
    padding: 2px 10px 2px 10px;
    align-content: left;
    align-items: left;
    border: 1px solid #f4f2f2;
    border-radius: 5px;
    color: white;
}

    .div-total:hover {
        background-color: #d32e72;
    }
.div-add {
    background-color: #6200EE;
    margin-bottom: 10px;
    padding: 2px 10px 2px 10px;
    align-content: left;
    align-items: left;
    border: 1px solid #f4f2f2;
    border-radius: 5px;
    color: white;
}

    .div-add:hover {
        background-color: #6109de;
    }
.div-close {
    background-color: #9f9b9b;
    margin-bottom: 10px;
    align-content: left;
    align-items: left;
    border: 1px solid #f4f2f2;
    border-radius: 5px;
    color: white;
}

    .div-close:hover {
        background-color: #918d8d;
    }

.abierto{
    background-color:#EA3680;
    border-radius:10px;
    padding: 0px 8px 0px 8px;
    color:white;
}

.cerrado {
    background-color: #6200EE;
    border-radius: 10px;
    padding: 0px 8px 0px 8px;
    color: white;
}