<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Incidencias</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi" aria-hidden="true">
                    <img src='../img/home.svg' />
                </span> Inicio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="estados">
                <span class="oi" aria-hidden="true">
                    <img src='../img/check-circle.svg' />
                </span> Estados
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tipos">
                <span class="oi" aria-hidden="true">
                    <img src='../img/hexagon.svg' />
                </span> Tipos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dia">
                <span class="oi" aria-hidden="true">
                    <img src='../img/calendar.svg' />
                </span>Dia de trabajo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="registro">
                <span class="oi" aria-hidden="true">
                    <img src='../img/list.svg' />
                </span> Registro
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
